name: Issue Labeled

on:
  workflow_call:
    inputs:
      repro_message_content:
        description: "The message to post when the issue is labeled with `needs repro`"
        default: |
          Hello @${{ github.event.issue.user.login }}. Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) using a GitHub repository or [StackBlitz](https://astro.new). Issues marked with `needs repro` will be closed if they have no activity within 3 days.
        required: false
        type: string

jobs:
  reply-labeled:
    if: github.repository_owner == 'withastro'
    runs-on: ubuntu-latest
    steps:
      - name: remove triage
        if: contains(github.event.label.description, '(priority)') && contains(github.event.issue.labels.*.name, 'needs triage')
        uses: actions-cool/issues-helper@d1d51fccf39469b5458203b1369060db0ff0c0db # v3.7.4
        with:
          actions: "remove-labels"
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          labels: "needs triage"

      - name: needs repro
        if: github.event.label.name == 'needs repro'
        uses: actions-cool/issues-helper@d1d51fccf39469b5458203b1369060db0ff0c0db # v3.7.4
        with:
          actions: "create-comment, remove-labels"
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: ${{ inputs.repro_message_content }}
          labels: "needs triage"
