name: pnpm

on:
  workflow_call:
    inputs:
      command:
        description: 'The package.json script name which will be called via "pnpm run <command>"'
        required: true
        type: string
      node-version:
        description: 'The selected node version to be installed'
        default: '18'
        required: false
        type: string

jobs:
  pnpm:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run command
        run: pnpm run ${{ inputs.command }}
